{% extends "tickets/base.html" %}
{% block content %}

  <body>

    {% if profile.is_offerer %}
    <h1>{{ profile.place_name }}</h1>
    {% else %}
    <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
    {% endif %}
    {% if not profile.is_regulator or user != profile.user %}
    <h2>{% if profile.user == user %}Meus {% endif %}Tickets</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Imagem</th>
          <th scope="col">Descrição</th>
          <th scope="col">Preço</th>
          <th scope="col">Comprador</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        
        {% for ticket in profile.list_tickets %}
        <tr>
          <td>
            <img src="{{ ticket.picture.url }}" width="100" height="100">
          </td>
          <td>{{ ticket.description }}</td>
          <td>{{ ticket.price}}</td>
          <td>
            {% if ticket.buyer %}
              {{ ticket.buyer.user.first_name }} {{ ticket.buyer.user.last_name }}
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            {{ ticket.status }}
          </td>
          <td>
            {% if ticket.offerer.user == user and ticket.is_available %}
            <a class="btn btn-outline-primary" href="{% url 'edit_ticket' ticket.pk %}">Editar</a>
            <a class="btn btn-outline-danger" href="{% url 'delete_ticket' ticket.pk %}">Excluir</a>
            {% endif %}
            {% if ticket.offerer.user == user and ticket.is_waiting %}
            <a class="btn btn-outline-success" href="{% url 'validate_ticket' %}">Validar</a>
            {% endif %}
            {% if user.profile.is_buyer and ticket.is_available %}
              <a class="btn btn-outline-success" href="{% url 'purchase_ticket' ticket.pk %}">Comprar</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </body>

{% endblock content %}